/* TODO:
        - División de archivos CSS (variables, componentes) 
        - Aplicación de nomenclatura BEM
        - Pasar fonts de px a rem
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import "variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

li {
    list-style: none;
}


#portfolio {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        'profile'
        'skills'
        'select-proyect'
        'development'
        'experience'
        'certificates';
    background-color: var(--bg-color);
    padding: 1rem;
    justify-content: center;
}

.mobile-view {
    background-color: var(--white-color);
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
    min-width: 328px;
    max-width: 462px;
}

/* TODO:
    Desktop
*/

@media only screen and (min-width: 1100px) {

    /* Hide mobile view elements */
    .desktop-hide {
        display: none;
    }


    .mobile-view {
        padding: unset;
        width: unset;
        min-width: unset;
        max-width: unset;
    }

    #paginate {
        grid-area: paginate;
    }

    #portfolio {
        display: grid;
        row-gap: 1.5rem;
        column-gap: 32px;
        grid-template-areas:
            'profile                profile'
            'skills                 development-portrait-2'
            'certificates           development-portrait-2'
            'certificates           experience'
            'select-proyect         select-proyect'
            'section-development    section-development'
            'paginate               paginate';

        width: 1512px;
        height: 2257px;
        background-color: var(--bg-color);
        padding: 1rem 2rem;
        justify-content: unset;
    }

}