:root {
    --gray1-color: #828282;
    --gray2-color: #4F4F4F;
    --gray3-color: #C4C4C4;
    --blue-color: #2F80ED;
    --bg-color: #F3EBEB;
    --white-color: #FFFFFF;
    --black-color: #000000;
}