/* Profile (mobile version) */
#profile {
    display: flex;
    flex-direction: column;
    grid-area: profile;
}

#profile-frame {
    display: flex;
    max-height: 39.375rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

#profile-picture {
    width: 80%;
    max-width: 350px;
    height: 340px;
    object-fit: cover;
    object-position: 0 20%;
    flex-shrink: 0;
    border-radius: 0.75rem;
}

#profile-info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

#profile-job-contact {
    display: flex;
    width: 268px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.frame-name-job {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.name {
    width: 7.21381rem;
    height: 1.53363rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.job-title {
    width: 13.29606rem;
    height: 1.16344rem;
    color: var(--gray1-color);
    font-size: 1.125rem;
}

.frame-contact {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.email,
.phone {
    display: flex;
    gap: 0.5rem;

    font-size: 1.125rem;
}

#introduction {
    color: var(--gray1-color);
    width: 100%;
    height: 6.36538rem;
    /* Texto */
    font-size: 1.125rem;
}

/* End of Profile (mobile version) */

@media only screen and (min-width: 1100px) {
    #profile {
        display: unset;
        margin-bottom: auto;
        margin-top: auto;
    }

    #profile-frame {
        max-height: unset;
        flex-direction: row;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #profile-picture {
        max-width: unset;
        height: unset;

        object-fit: cover;
        object-position: 0 20%;
        border-radius: 0.75rem;
        width: 17.1875rem;
        height: 16.5625rem;
    }

    #profile-info {
        padding: unset;
        gap: unset;

        display: flex;
        height: 14rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: center;
    }

    #profile-job-contact {
        align-items: unset;
        gap: unset;

        display: flex;
        flex-direction: row;

        width: 41.92106rem;
        justify-content: space-between;
    }

    .frame-name-job {
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .name {
        width: 7.21381rem;
        height: 1.53363rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .job-title {
        width: 13.29606rem;
        height: 1.16344rem;
        color: var(--gray1-color);
        font-size: 1.125rem;
    }

    .frame-contact {
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    #introduction {
        color: var(--gray1-color);
        width: 40.625rem;
        height: 6.875rem;
        flex-shrink: 0;
        font-size: 1.125rem;
    }

    #profile-desktop-text {
        display: block;
        margin-top: 1.3rem;
    }
}